
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<LINK rel=StyleSheet href="@Url.Content("~/Content/Styles.css")" type="text/css" media=screen>
<h2 class="us">About Us</h2>
<div class="container-about">
    <div class="img-about">
        <img src="https://imagizer.imageshack.com/v2/500x500q90/922/ZHhMlz.jpg" />
    </div>
    <div class="txt-about">
        <p>
            Mustachio began in 2019. After years in the web hosting industry, we realized that it was near impossible for the average Jane or Joe to create their own website. Traditional web hosting services were simply too complicated, time consuming, and expensive to manage.
            <br />
            <br />
            We created the Website.com Site Builder with the user's perspective in mind. We wanted to offer a platform that would require no coding skills or design experience. We keep it simple, so users can focus on creating an amazing website that reflects their brand. Best of all - it's free. You can get online, showcase your brand, or start selling products right away.
            <br />
            <br />
            After seeing an increased need for ecommerce solutions, we developed one of the only fully-featured, free and commission-free online store builders, allowing business owners to launch their online business.
            <br />
            <br />
            Today, we're proud to empower individuals and small business owners around the world. Everyone deserves a website, and we're excited to see what you create.
        </p>
    </div>
</div>
