
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blog"> 
    <div class="left-blog">
        <div class="rowl">
            <div class="card">
                <h2>THE BEACON TO ALL MANKIND</h2>
                <h5>Its a book, @DateTime.Now</h5>
                <img class="fakeimg" style="height:300px;" src="http://imageshack.com/a/img923/3116/FJKbda.jpg" />
                <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
            </div>
            <div class="card">
                <h2>MUSTACCHIO</h2>
                <h5>The tittle of our blog, @DateTime.Now</h5>
                <img class="fakeimg" src=" http://imageshack.com/a/img922/8061/SppSoh.jpg" style="height:300px;" />
                <p>Unicode is an international not-for-profit organisation that started in the 1980s as an effort to "unify" the "codes" for textual characters used in the computing industry. By "code", I just mean a number. Computers only understand numbers, and so you need to tell the computer which number refers to the letter "a", which one refers to the letter "b", etc. so that you can visualise them on a computer screen (otherwise you'd be reading ones and zeros right now).</p>
            </div>
            
        </div>
    </div>
    <div class="right-blog">
        <div class="rowr">
            <div class="card">
                <h2>About Us</h2>
                <img class="fakeimg" src="http://imageshack.com/a/img923/5310/Kc03gN.jpg" />
                <p>Mustachio began in 2019. After years in the web hosting...</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <img class="fakeimg" src="http://imageshack.com/a/img923/3116/FJKbda.jpg" />
                <p>THE BEACON TO ALL MANKIND</p><br>
                <img class="fakeimg" src="http://imageshack.com/a/img922/8061/SppSoh.jpg" />
                <p>MUSTACCHIO</p>
            </div>
        </div>
    </div>
</div>