
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="galeria">
    <header>
        <h1>Gallery</h1>
    </header>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img924/5605/mbSNR5.png" /> <figcaption>Italy</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img923/5310/Kc03gN.jpg" /> <figcaption>Canada</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img922/8061/SppSoh.jpg" /> <figcaption>Brazil</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img924/714/O7hOyr.jpg" /> <figcaption>Germany</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img923/3116/FJKbda.jpg" /> <figcaption>Spain</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img921/6476/fqXSAM.jpg" /> <figcaption>India</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img924/1854/ZcaIfd.jpg" /> <figcaption>Russia</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img921/2082/aO7RHw.jpg" /> <figcaption>Portugal</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img921/7957/dFoKxv.jpg" /> <figcaption>Norway</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img922/4866/pgowf9.jpg" /> <figcaption>France</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img922/8551/V2NiFp.jpg" /> <figcaption>Mexico</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img921/2082/aO7RHw.jpg" /> <figcaption>Turkey</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img922/6862/ZHhMlz.jpg" /> <figcaption>Gunslinger</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img923/5963/jXhNq2.jpg" /> <figcaption>Connoisseur</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img924/6452/9OBV9n.jpg" /> <figcaption>HorseShoe</figcaption>
        </figure>
        </a>
    </article>
    <article>
        <figure>
            <img src="https://imagizer.imageshack.com/img921/8857/tgX5xv.jpg" /> <figcaption>The Tycoon</figcaption>
        </figure>
        </a>
    </article>
</section>

