
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="FBG">
    <div class="text-home">
        <ul class="t1">THE BEACON TO ALL MANKIND</ul>
        <ul class="t2">Our website templates are created with</ul>
        <ul class="t3">Inspiration, checked for quality and originality</ul>
        <ul class="t4">And meticulously sliced and coded.</ul>
        <ul class="readM"><a href="https://www.amazon.es/Menorah-Beacon-All-Mankind/dp/1412085756" target="_blank">Read More</a></ul>
    </div>
</div>
<div class="contenedor-p">
    <div class="divs">
        <img class="imgs" src="https://imagizer.imageshack.com/v2/296x238q90/923/Kc03gN.jpg" />
        <h2>THE ACTOR</h2>
    </div>
    <div class="divs">
        <img class="imgs" src="https://imagizer.imageshack.com/v2/296x238q90/924/ZcaIfd.jpg" />
        <h2>THE FATHER</h2>
    </div>
    <div class="divs">
        <img class="imgs" src="https://imagizer.imageshack.com/v2/295x238q50/924/O7hOyr.jpg" />
        <h2>THE NERD</h2>
    </div>
</div>